[submodule "py-ipfs-http-client"]
	path = py-ipfs-http-client
	url = https://github.com/ipfs-shipyard/py-ipfs-http-client.git
[submodule "assets/types/git-repo/git-repo/io/metatron-node"]
	path = assets/types/git-repo/git-repo/io/metatron-node
	url = https://github.com/macterra/metatron-node.git
