<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFS NODE</title>
</head>
<body>
    <h1>Metatron</h1>
    
    <form action="/meta" method="POST" enctype="multipart/form-data">
        <label>CID</label>
        <input type="text" name="cid">
        <br><br>
        <input type="submit" value = "Submit">
    </form>

    <p></p>

    <details>
        <summary>debug</summary>
        <pre><%= db %></pre>
    </details>
</body>
</html>