<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFS Files</title>
</head>
<body>
    <h1>Metatron</h1>
    <p>Link: <a href="https://ipfs.io/ipfs/<%= cid %>"><%= cid %></a></p>
    <pre><%= certs %></pre>
</body>
</html>