{% extends "base.html" %}

{% block app_content %}
<form action="/send3/{{ chain }}" method="post" novalidate>
    
    {{ form.hidden_tag() }}
    <table class="table">
        <tr>
            <td>{{ form.cid.label }}</td>
            <td>{{ form.cid(size=50) }}</td>
        </tr>
        <tr>
            <td>{{ form.addr.label }}</td>
            <td>{{ form.addr(size=50) }}</td>
        </tr>
    </table>         
    </p>
    
    <pre>
    asset: {{ meta.asset }}
    xid:   {{ meta.xid }}
    meta:  {{ meta.meta }}
    type:  {{ meta.type }}
    owner: {{ meta.owner }}
    home:  {{ meta.home }}
    
    balance = {{ balance }}
    txn fee = {{ txfee }}
    </pre>

    <p>{{ form.confirm() }} {{ form.cancel() }}</p>

</form>
{% endblock %}
