{% extends "base.html" %}

{% block app_content %}
<pre>
asset: {{ meta.asset }}
cid:   {{ cid }}
xid:   {{ meta.xid }}
meta:  {{ meta.meta }}
type:  {{ meta.type }}
owner: {{ meta.owner }}
home:  {{ meta.home }}

balance = {{ balance }}
txn fee = {{ txfee }}

transfer to: {{ addr }}
</pre>
<form action="/send3/{{ chain }}" method="post" novalidate>
    <input type=hidden name=cid value="{{ cid }}"></input>
    <input type=hidden name=addr value="{{ addr }}"></input>
    <p><input type=submit name=confirm value=Confirm></input> <input type=submit name=cancel value=Cancel></input></p>
</form>
{% endblock %}
