{% extends "base.html" %}

{% block title %}Metatron Explorer{% endblock %}

{% block app_content %}
<h1>Metatron Explorer</h1>

{% for cert in certs %}
<pre>
asset   <a href="https://ipfs.io/ipfs/{{ cert.cid }}/{{ cert.meta.asset }}">{{ cert.meta.asset }}</a> v{{ cert.version }}
version <a href="/versions/{{ cert.cert }}">{{ cert.cert }}</a>
xid     {{ cert.xid }} 
time    {{ cert.auth.time }}
auth-id {{ cert.auth.id }}
cid     <a href="/versions/{{ cert.cid }}">{{ cert.cid }}</a>
type    {{ cert.meta.type }}
owner   {{ cert.meta.owner }}
</pre>
{% endfor %}
{% endblock %}
