<html>
    <head>
        <title>Metatron</title>
    </head>
    <body>
        <h1>Metatron Explorer</h1>

        <pre>
{% for cert in certs %}
asset   <a href="https://ipfs.io/ipfs/{{ cert.cid }}/{{ cert.meta.asset }}">{{ cert.meta.asset }}</a> v{{ cert.version }}
version <a href="/versions/{{ cert.cert }}">{{ cert.cert }}</a>
xid     {{ cert.xid }} 
time    {{ cert.auth.time }}
auth-id {{ cert.auth.id }}
cid     {{ cert.cid }}
type    {{ cert.meta.type }}
owner   {{ cert.meta.owner }}
{% endfor %}
        </pre>

    </body>
</html>
