{% extends "base.html" %}

{% block title %}Metatron Scanner{% endblock %}

{% block app_content %}
<h1>Metatron Scanner</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">chain</th>
            <th scope="col">time</th>
            <th scope="col" class="text-right">first</th>
            <th scope="col" class="text-right">last</th>
            <th scope="col" class="text-right">height</th>
        </tr>
    </thead>
{% for chain in status %}
{% set o = status[chain] %}
<tr>
    <th scope="row">{{ chain }}</td>
    <td>{{ o.time }}</td>
    <td class="text-right">{{ o.first }}</td>
    <td class="text-right">{{ o.last }}</td>
    <td class="text-right">{{ o.height }}</td>
</tr>
{% endfor %}
</table>

  <button type="button" class="btn btn-primary" onclick="location.href='/scanner'">Refresh</button>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmDialog">Reset Database...</button>
  
  <!-- Modal -->
  <div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog" aria-labelledby="confirmDialogLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDialogLabel">Reset Scanner Database?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           This will delete the scanner database and trigger a resync. Proceed with caution!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" onclick="location.href='/reset'">Confirm Reset</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
