{% extends "base.html" %}

{% block title %}{{ authorizer.chain }} Vault{% endblock %}

{% block app_content %}
<h1>{{ authorizer.chain }} Vault</h1>

<h2>funds</h2>
<table class="table">
    <tr>
        <td>balance:</td>
        <td>{{ authorizer.balance }}</td>
    </tr>
    <tr>
        <td>locked:</td>
        <td>{{ authorizer.locked }}</td>
    </tr>
</table>
<p></p>
<button type="button" class="btn btn-primary" onclick="location.href='/authorize/{{ authorizer.chain }}'">authorize</button>
<button type="button" class="btn btn-primary" onclick="location.href='/transfer/{{ authorizer.chain }}'">transfer</button>
<button type="button" class="btn btn-primary" onclick="location.href='/receive/{{ authorizer.chain }}'">receive</button>
<h2>assets</h2>

<ul class="list-group">
    {% for asset in authorizer.assets %}
    {% set type = asset.meta.type[asset.meta.type.find("/")+1:] %}
    <li class="list-group-item">
        <a href="/versions/xid/{{ asset.meta.xid }}">{{ asset.meta.asset }} ({{ type }})</a> 
    </li>
    {% endfor %}
</ul>

<button type="button" class="btn btn-primary" onclick="location.href='/pin/chain/{{ authorizer.chain }}'">Pin Assets</button>

{% endblock %}
