{% extends "base.html" %}

{% block title %}{{ chain }} Vault{% endblock %}

{% block app_content %}
<h1>{{ chain }} Vault</h1>

<h2>funds</h2>
<table class="table">
    <tr>
        <td>balance:</td>
        <td>{{ authorizer.balance }}</td>
    </tr>
    <tr>
        <td>locked:</td>
        <td>{{ authorizer.locked }}</td>
    </tr>
</table>
<p></p>
<button type="button" class="btn btn-primary" onclick="location.href='/authorize/{{ chain }}'">authorize</button>
<button type="button" class="btn btn-primary" onclick="location.href='/transfer/{{ chain }}'">transfer</button>
<button type="button" class="btn btn-primary" onclick="location.href='/receive/{{ chain }}'">receive</button>
<h2>assets</h2>
{% for asset in authorizer.assets %}
<pre>
xid:   <a href="{{ asset.meta.home }}/{{ asset.meta.xid }}">{{ asset.meta.xid }}</a>
asset: <a href="/ipfs/{{ asset.cid }}/{{ asset.meta.asset }}">{{ asset.cid }}/{{ asset.meta.asset }}</a>
type:  <a href="/ipfs/{{ asset.meta.type }}">{{ asset.meta.type }}</a>
txid:  <a href="{{ txurl }}{{ asset.utxo.txid }}">{{ asset.utxo.txid }}</a>
</pre>
{% endfor %}

<button type="button" class="btn btn-primary" onclick="location.href='/pin/chain/{{ chain }}'">Pin Assets</button>

{% endblock %}
